%p
  - if comment.user
    = comment.user.email
  - else
    FIX THE SHIT THAT PEOPLE CAN SUBMIT WITHOUT BEING LOGGED IN BITCH
%p= comment.body
%p  
  reply

.subcomments
  = render :partial => "comments/form", :locals => {:comment => comment}
  = render comment.subcomments
