%h2 Friends on Ultramarine

.friends.row
  -@friends.each do |friend|
    .span4
      .friend.media
        =image_tag(friend[:picture], :class => "pull-left")
        .media-body
          = link_to friend[:friend].username, friend[:friend]
          .info
            = friend[:friend].points
            points

