%h2 Friends on Ultramarine

- if @friends.any?
  .friends.row
    -@friends.each do |friend|
      .span4
        .friend.media
          =image_tag(friend[:picture], :class => "pull-left")
          .media-body
            = link_to friend[:friend].username, friend[:friend]
            .info
              = friend[:friend].points
              points
- else
  .well
    None of your Facebook friends are using Ultramarine yet!  Let them know about it for us :]
