.masthead
  %h1 Vacation inspiration for
  -#%p tagline tagline tagline
  %form
    %fieldset
      -#%legend Vacation inspiration for
      %input{:type=>'text', 'placeholder'=>'wherever you want to go'}
      %p
        %button.btn{:type=>'submit'} Go
