.row
  .span8.tablet-full-width
    %p.lead
      Ultramarine is a place where people can post challenges for you to do when you're traveling.  It's for vacationers looking to expand past the usual touristy activities.
    %p There are hundreds of websites where you can look for the most popular tourist attractions in any given place, and it can be hard to look beyond those to find the real hidden gems at your destination.
    %p On our site you can sort challenges by difficulty, amount of time required, and popularity to find the most interesting and exciting ways to spend your time.
  .span4.tablet-full-width
    .well
      %h4{:style => "line-height: normal"} Sign in to get these features:
      %ul
        %li Keep track of a todo list
        %li See what your friends are doing
        %li Upload photos
        %li Write comments
= render :partial => "locations/list"
