@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.locations-list {
  .location-container {
    margin-bottom: 30px;
    .border-radius(@borderRadiusLarge);
    padding: 20px;
    color: white;
    text-shadow: 0 0 20px rgba(0,0,0, .8);
    background-opacity: .6;

    .darken {
      background: rgba(0,0,0,.7);
      .border-radius(@baseBorderRadius);
      padding: 10px;
    }

    h2 {
      font-size: 5em;
      text-transform: uppercase;
      margin-bottom: 20px;
      
      margin-top: 30px;
      a {
        color: white;
      
        &:hover {
          color: white;
        }
      }
    
    }
  }
}

body.locations {
  .main-content > .tablet-full-width {
    @media (max-width: 979px) {
      width: 100%;
      margin-bottom: 20px;
      float: left;
    }
  }

  .big-image {
    color: white;
    .container {
      background: rgba(0,0,0,.5);
      padding-top: 90px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      @media (max-width: 767px) {
        padding-top: 20px;
        .border-radius(@borderRadiusLarge);
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 5em;
      text-shadow: 0 1px 8px rgba(0,0,0,.7);
      margin-bottom: 20px;
      line-height: normal;
    }
    p {
      text-shadow: 0 1px 8px rgba(0,0,0,.7);
      font-size: @fontSizeLarge;
    }

    margin-bottom: 20px;
    @media (max-width: 767px) {
      .border-radius(@borderRadiusLarge);
    }
  }

  .location-page-picture {
    .border-radius( @baseBorderRadius );
    padding: @paddingLarge;
    padding-bottom: 300px;
    background-position: center;
    color: white;
    text-shadow: 0 1px 5px rgba(0,0,0,.5);
    .box-shadow( 0 0 3px rgba(0,0,0,.6);
    border: 1px solid white;
    .bg {
      background: rgba(0,0,0,.4);
      padding: @paddingSmall;
    }
    p {
      margin-top: 6px;
    }
  }

  .big-location {
    position:relative;
    height: 250px;
    padding: @paddingLarge;
    .border-radius( @borderRadiusLarge );
    .box-shadow( 0 0 3px rgba(0,0,0,.6);
    border: 1px solid white;

    .location-details {
      background: fadeout(@linkColor, 25%); 
      width: 60%;
      color: white;
      padding: @paddingLarge;
      .border-radius( @borderRadiusLarge );
      .box-shadow( 0 0 3px rgba(0,0,0,.6);
      border: 1px solid white;
      a {
        color: white;
      }
    }
    .actions {
      position:absolute;
      bottom:0;
      right:10px;
      a {
        color:black;
      }
    }
  }

  .new-location {
    position:absolute;
    padding-top: 20px;
    left:20px;
  }

  .challenge-sort {
    i {
      display: none;
      margin-left: 4px;
    }

    .asc {
      i.icon-caret-up {
        display: inline-block;
        text-decoration: none;
      }
    }

    .desc {
      i.icon-caret-down {
        display: inline-block;
        text-decoration: none;
      }
    }
  }

  .new_challenge_link {
    margin-top: 16px;
    margin-left: 20px;
  }

}
