@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.hero-unit.location-page {
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,.5);
  .box-shadow( 0 0 3px rgba(0,0,0,.6);
  border: 1px solid white;
  .bgx {
    background: rgba(0,0,0,.4);
    padding: @paddingSmall;
  }
  p {
    margin-top: 6px;
  }
}

.big-challenge {
  background: @linkColor; 

  color: white;
  padding: @paddingLarge;
  .border-radius( @borderRadiusLarge );
  .box-shadow( 0 0 3px rgba(0,0,0,.6);
  border: 1px solid white;

  a {
    color: white;
  }
  .row-thumbnails {
      width: 10000px;
  }

  .thumbnail-hider {
      overflow: hidden;
  }

}
