@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";


.newsfeed_item {
  font-size: @fontSizeSmall;
  line-height: normal;
  margin-bottom: 12px;
  p {
    margin-bottom: 5px;
  }

  .media-body {
    padding: 5px 10px;
    padding-left: 0;
  }

  .pull-left {
    margin-right: 0;
  }

  .media-object {
    margin-right: 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
