.photo-page-well {
  background: black;
  padding: 10px;
  text-align: center;
}

#photo-upload-drawer {
    background: #666;
    padding: 20px;

  h6 {
    color: white;
  }
}

#edit_many_photos {
    background: white;
}

body.challenges.show .image-mouseover>:first-child:before {
    content: "\f09a";
    position: absolute;
    left: 3px;
    top: 3px;
    background: #007;
    z-index: 1000;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; 
  color: white;
  width: 1em;
  height: 1em;
  text-align: right;

}
    
