.photo-page-well {
  background: black;
  padding: 10px;
  text-align: center;
}

#photo-upload-drawer {
    background: #666;
    padding: 20px;

  h6 {
    color: white;
  }
}

#edit_many_photos {
    background: white;
}

body.challenges.show .Personal img:before {
    content: "hello";
    position: absolute;
    left: 0;
    top: 0;
    background: blue;
    z-index: 1000;
}
    
