// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

body.users.show {
  .newsfeed_item {
    font-size: @fontSizeSmall;
    margin-bottom: 15px;
    p {
      margin-bottom: 1px;
    }

    .border-radius(@borderRadiusSmall);
    background: #eee;

    .media-body {
      padding: @paddingSmall;
      padding-left: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
