// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

body.users.friends .friends {
  margin-top: 20px;
  .friend {
    margin-bottom: 20px;
  }

  img {
    float: left;
  }
}

body.users.show {

  #challenges-hash {
    padding-top: 15px;
  }
}
